textarea {
    resize: none;
    overflow: auto;
}
/*
.main {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    white-space: nowrap;
}
.hello {
    position: relative;
    height: 5%;
    width: 100%;
    text-align: center;
    font-size: large;
}
.users {
    position: relative;
    width: 17%;
    height: 98%;
    bottom: 3px;
    float: left;
    top: 3px;
}
.messageBox {
    position: relative;
    float: left;
    width: 82%;
    height: 98%;
    bottom: 3px;
    top: 3px;
}
.readText {
    position: relative;
    width: 95%;
    height: 100%;
    left: 1%;
    margin: 4px;
    overflow: auto;
}
.inputText {
    position: relative;
    width: 77%;
    height: 2em;
    bottom: 1%;
    left: 3%;
    overflow: auto;
}
.buttonSend {
    position: absolute;
    height: 2em;
    bottom: 1%;
    width: 10%;
    right: 6%;
}
.buttonLogIn {
    position: relative;
    height: 2em;
    width: 97%;
    left: 3%;
}*/

/* new styles */

#toolBar {
    border: 2px solid red;
}

#mainFrame {
    border: 2px solid green;
}

#inputText {
    width: 80%;
}

#inputName {
    position: absolute;
    width: 20%;
    right: 13%;
}

#inputArea {
    position: absolute;
    width: 78%;
    bottom: 1%;
    border: 2px solid red;
}

#btnName {
    position: absolute;
    width: 10%;
    right: 2%;
}

#btnSend {
    width: 7%;
}

#name {
    position: absolute;
    height: 2em;
    width: 20%;
    left: 40%;
}