textarea {
    resize: none;
    overflow: auto;
}

/* new styles */
#history {
    top: 5%;
    width: 80%;
    height: 80%;
    left: 10%;
    overflow: auto;
  /*  border: 2px solid red; */
    position: absolute;
}

#toolBar {
    position: absolute;
    width: 80%;
    left: 10%;
    height: 4%;
}

#inputText {
    width: 87%;
}

#inputName {
    position: absolute;
    width: 20%;
    right: 13%;
}

#inputArea {
    width: 80%;
    left: 10%;
    position: absolute;
    bottom: 1%;
  /*  border: 2px solid red; */
}

#btnName {
    position: absolute;
    width: 10%;
    right: 2%;
}

#btnSend {
    width: 7%;
}

#name {
    position: absolute;
    height: 2em;
    width: 20%;
    left: 40%;
}